/*body {
 /* background-color: #101010;
  color: #fff;
  margin: 0px;
  overflow: hidden;
}*/

@font-face {
font-family: 'Jost';
src: url('../Josts/Jost.eot');
src: url('../Jost/Jost.eot?#iefix') format('embedded-opentype'),
     url('../Jost/Jost.woff') format('woff'),
     url('../Jost/Jostr.ttf') format('truetype'),
     url('../Jost/Jost.svg#Jost') format('svg');
font-weight: 500;
font-style: uppercase;

}

@font-face {
  font-family: 'Jost';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgJost') format('svg'); /* Legacy iOS */
}



@font-face { 
font-family: Jost;  
src: url('path/jost.woff2') format('woff2'), url('path/jost.woff') format('woff'), url('path/jost.ttf') format('truetype'); 
}
a{
color: green;
text-decoration: none;
}

a:hover h1{

color: white;
text-decoration: underline;

}
.fade {
  
  margin: 40px;
  padding: 40px;
  background-color: none;
  opacity: 1;
  text-decoration: none;

}

.fact h1{

  font-size:50px;
  font-weight: 500;
  color:#ffffff;
  margin-top: 50px;
  padding: 0px;
  /*text-shadow: 0 2px 1px #000;*/

  text-transform: uppercase;

  text-align: center;
}


.proactive{

position: relative;
margin: 50px;
padding: 50px;
left: 60%;
top: 300px;
transform: translate(-50%, -50%);
/*border: 5px solid #FFFF00;*/
padding: 0px;
z-index: 10;

}
h1{
  /*font-family: GT Super DS Trial;*/
font-feature-settings: "kern" 1; font-kerning: normal;
 letter-spacing: 0.015em; 
 word-spacing: 0.001em; 

  font-family: Jost;
  font-size:30px;
  font-weight: 500;
  color:#ffffff;
  margin: 20px;
  padding: 20px;
  /*text-shadow: 0 2px 1px #000;*/

  text-transform: uppercase;
}

/*h2{
   width:1250px;
   height:200px;
  font-family: Aprikas;
  font-weight: bold;
  font-size:50px;


  margin: 0;
 color:#ffffff;
  padding: 80px;*/
  

h3{
  
   font-family: Jost;
   font-size:40px;
    font-weight: bold;
  
    color:#ffffff;
    margin: 0;

  padding-top: 150px;
  padding-left: 80px;
  text-transform: uppercase;
}

body {
  background: linear-gradient(-45deg, #ffffff, #ea78ac, #7381bc, #fce61a);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
          /*background-size: 2000px;*/

}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dots{

  /*background-image: url(https://kermenchoung.github.io/modern/bkgr.png);*/
  /*background-image: url(https://kermenchoung.github.io/modern/bkgrN.png);*/
   /*background-image: url(https://kermenchoung.github.io/modern/gradbkgr/index.html);
  /*width: 100%;
  height:100%;
  /*opacity: .1;*/
  /*background-repeat: repeat;*/
}


#Michelle{
position: relative;


}


.image{

/*width:300px;
height:100px;*/

position: absolute;
left:700px;
top: 350px;
transform: translate(-50%, -50%);

padding: 10px;
/*text-align: center;*/

/*margin: auto ;

width: 299px;
height:169px;
border: 5px solid #FFFF00;
padding: 10px;*/
 
 
 
 /*position:absolute;
  top:50%;
   left:50%;
  width: 299px;
  height:169px;

  background-color: #000000;*/


}
.imageMichelle{
position: relative;
width:900px;
height:700px;
left: 35%;

top: 500px;
padding-bottom:100px;
transform: translate(-50%, -50%);


z-index: 10;

}

.imageMichelle2{
width:30%;
height:30%;
position: absolute;
left: 55%;
top: 410px;
transform: translate(-50%, -50%);

padding: 0px;
z-index: 10;


}

.imagelogo{
position: fixed;
left: 60px;
top: 60px;
transform: translate(-50%, -50%);
z-index: 100;

}
.navbar{

position:absolute;
width:40%;
height:30%;
left: 0%;
top: 450px;

/*transform: translate(-50%, -50%);*/

padding: 0px;
z-index: 0;

}

.iglogo{
position:absolute;
width:40%;
height:30%;
left: 3%;
top: 930px;

/*transform: translate(-50%, -50%);*/

padding: 0px;
z-index: 0;
z-index: 100;
border: 1px color:red;
background: green;
}






/*.nav{
  background-image: url(https://kermenchoung.github.io/modern/navigate.png);
  width: 100%;
  height:100%;
  /*opacity: .1;
  background-repeat: repeat;

}*/


/*.wrapper{
  position:absolute;
  top:0px;
  left:0px;
  width: 100%;
  height:100%;
  text-align: center;
}

.grad {
  background: red; /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(left top, #152a8e, #b1376c); /* For Safari 5.1 to 6.0 */
 /*background: -o-linear-gradient(bottom right, #152a8e, #b1376c); /* For Opera 11.1 to 12.0 */
 /*background: -moz-linear-gradient(bottom right, #152a8e, #b1376c); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to bottom right, #152a8e, #b1376c); /* Standard syntax */
}
.metaball-canvas{
border: 5px solid #000000;
  width:100%;
  height:100%;
  position: relative;
  top:0;
  left:0;
}
